coloredlogs==14.0
faiss-cpu
flash_attn
groq
huggingface_hub[hf_transfer]
ipywidgets
instructor
logging
numpy
nltk
openai
pydantic>=2.7.0
milvus-lite
pymilvus
pyserini==0.23.0
python-dotenv
ratelimit
scikit-learn
scipy
sentence_transformers
sentencepiece
spacy
tensorboard
tensorflow
tokenizers
torch
tqdm>=4.64.1
transformers
unstructured
unstructured[pdf]